{% extends "layout.html" %}

{% block title %}
    Exercise List
{% endblock %}

{% block main %}

  <h1>Exercise List</h1>

  <form action="/exerciselist" method="post">
    <div>
        <input autocomplete="off" autofocus name="exercise-name" placeholder="Name" type="text">
        <input autocomplete="off" name="exercise-muscles" placeholder="Muscles Worked" type="text">
        <button type="submit" class="btn btn-primary">Add New Exercise</button>
        <br>
        <input autocomplete="off" name="exercise-desc" placeholder="Description (optional)" type="text" style="width: 700px; height: 100px;">
    </div>
    
  </form>
  
  <form action="/filteredexerciselist" method="get">
    <div>
        <button type="submit" class="btn btn-primary">Filter By</button>
        <select name="musclefilter">
            <option disabled selected value="">Muscle</option>
              <option value="%">All</option>
              <option value="biceps">Biceps</option>
              <option value="triceps">Triceps</option>
              <option value="chest">Chest</option>
              <option value="shoulders">Shoulders</option>
              <option value="lats">Lats</option>
              <option value="abs">Abs</option>
              <option value="quads">Quads</option>
              <option value="hamstrings">Hamstrings</option>
              <option value="calves">Calves</option>
        </select>
    </div>
  </form>

  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Muscles Worked</th>
        </tr>
    </thead>
    <!-- Loop through the exercises to display each one in the table -->
    <tbody>
        {% for exercise in exercises %}
        <tr>
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.description }}</td>
            <td>{{ exercise.muscles_used }}</td>
            <td>
                <form action="/deleteexercise/{{ exercise.id }}" method="post">
                <input class="btn" type="submit" name="delete" value="X">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>



{% endblock %}