{% extends "layout.html" %}

{% block title %}
    Food Diary
{% endblock %}

{% block main %}

  <h1>Food Diary</h1>

  <form action="/fooddiary" method="post">
    <button type="submit">New Food Log</button>
  </form>

    {% for foodlog in foodlogs %}
    <h3>{{ foodlog.date }}</h3>

      {% set ns = namespace(totalcalories = 0, totalprotein = 0, totalcarbs = 0, totalfat = 0) %}
      <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount(g)</th>
                <th>Protein(g)</th>
                <th>Carbs(g)</th>
                <th>Fat(g)</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
          {% for instance in foodinstances %}
          {% if instance.food_log_id == foodlog.id %}
          <tr>
            <td>{{ instance.food_name }}</td>
            <td>{{ instance.amount_grams }}</td>
            <td>{{ instance.protein_grams }}</td>
            <td>{{ instance.carbs_grams }}</td>
            <td>{{ instance.fat_grams }}</td>
            <td>{{ instance.calories }}</td>
          </tr>
          {% set ns.totalcalories = ns.totalcalories + instance.calories %}
          {% set ns.totalprotein = ns.totalprotein + instance.protein_grams %}
          {% set ns.totalcarbs = ns.totalcarbs + instance.carbs_grams %}
          {% set ns.totalfat = ns.totalfat + instance.fat_grams %}
          {% endif %}
        </tbody>
        {% endfor %}
        
      </table>
      
      
      <h4>Total: {{ ns.totalprotein }}g protein, {{ ns.totalcarbs }}g carbs, {{ ns.totalfat }}g fat, {{ ns.totalcalories }}kcal</h4>

    <form action="/addfood/{{ foodlog.id }}" method="post">
      <select name="food-name">
        <option disabled selected value="">Food</option>
          {% for food in foods %}
          <option value="{{ food.name }}">{{ food.name }}</option>
          {% endfor %}
        </select>
      <input autocomplete="off" name="amount" placeholder="Amount(g)" type="number">
      <input class="btn" type="submit" name="add" value="Add Food">
    </form>

    <form action="/deletefoodlog/{{ foodlog.id }}" method="post">
      <input class="btn" type="submit" name="delete" value="Delete">
    </form>
    <br><br><br>

    {% endfor %}
    
{% endblock %}