{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

  <h1>Home</h1>
  <p>Welcome to Fit and Strong, an application which allows you to track your workouts, diet, and other physical factors such as weight and steps. 
  You can read up about various gym exercises and nutritional information.</p>
  <h2>Exercise List</h2>
  <p>View a list of strength exercises, including a detailed description of how to perform each exercise as well as information on the muscle groups used. You can add your own custom exercises to the list, or filter the exercises by muscle groups, i.e. view all exercises which work the biceps. All of the exercises on this page can be logged during your workouts in the Workout Log.</p>
  <h2>Workout Log</h2>
  <p>Keep a track of all of your workouts. You can add one workout per day, with as many exercises as you'd like; each workout includes information about weights used, as well as sets and reps for strength training. If you change your mind about a workout, you can remove it.</p>
  <h2>Food List</h2>
  <p>Here you can record information about all of your favourite foods, including calories, protein, carbohydrates and fats. This information is then used when tracking your
  daily intake in the Food Diary.</p>
  <h2>Food Diary</h2>
  <p>Keep track of how much you're eating each day, with the total amount of calories, protein, carbs and fat displayed at the bottom of each day.</p>
  <h2>My Stats</h2>
  <p>View and add to a record of your daily weight, number of steps and hours of sleep.</p>
  <h2>Tips</h2>
  <p>Tips</p>
  <h2>Contact</h2>
  <p>Details on how to get in contact with me on via various sites.</p>
{% endblock %}