{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Tips</h1>
    <div id="tips">
        <ul>
            <li><h3>When attempting to build muscle, try and get around 1.2-2.0 grams of protein per body weight in kg per day.</h3></li>
            <li><h3>Don't be scared of eating a healthy amount of fats; this macronutrient is an important and required part of your diet.</h3></li>
            <li><h3>When strength training, try to ensure you are lifting with good form before adding more weight to the bar/machine.</h3></li>
            <li><h3>Try to eat around 250-500 calories more than your maintenance calories when bulking.</h3></li>
        </ul>
    </div>
{% endblock %}