{% extends "layout.html" %}

{% block title %}
    Workout Log
{% endblock %}

{% block main %}

  <h1>Workout Log</h1>

  <form action="/workoutlog" method="post">
    <button type="submit">New Workout</button>
  </form>

    {% for workout in workouts %}

    <h3>{{ workout.date }}</h3>
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Weight</th>
              <th>Sets</th>
              <th>Reps</th>
          </tr>
      </thead>
      <tbody>
        {% for instance in exercise_instances %}
        {% if instance.workout_id == workout.id %}
        <tr>
          <td>{{ instance.exercise_name }}</td>
          <td>{{ instance.weight_kg }}</td>
          <td>{{ instance.sets }}</td>
          <td>{{ instance.reps }}</td>
          <td>
            <form action="/deleteexerciseinstance/{{ instance.id }}" method="post">
            <input class="btn" type="submit" name="delete" value="X">
            </form>
          </td>
        </tr>
        {% endif %}
      </tbody>
      {% endfor %}
    </table>

    <form action="/addexercise/{{ workout.id }}" method="post">
      <select name="exercise-name">
        <option disabled selected value="">Exercise</option>
          {% for exercise in exercises %}
          <option value="{{ exercise.name }}">{{ exercise.name }}</option>
          {% endfor %}
        </select>
      <input autocomplete="off" name="weight" placeholder="Weight(kg)" type="number">
      <input autocomplete="off" name="sets" placeholder="Sets" type="number">
      <input autocomplete="off" name="reps" placeholder="Reps" type="number">
      <input class="btn" type="submit" name="add" value="Add Exercise">
    </form>

    <form action="/deleteworkout/{{ workout.id }}" method="post">
      <input class="btn" type="submit" name="delete" value="Delete Workout">
    </form>
    <br><br><br>

    {% endfor %}
    
{% endblock %}